<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${disciplina.id == null} ? 'Criar Nova Disciplina' : 'Editar Disciplina'"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1 th:text="${disciplina.id == null} ? 'Criar Nova Disciplina' : 'Editar Disciplina'"></h1>

<form th:action="@{/disciplinas/salvar}" th:object="${disciplina}" method="post">

  <input type="hidden" th:field="*{id}" />

  <label>Nome:</label>
  <input type="text" th:field="*{nome}" placeholder="Nome da Disciplina" required />
  <br/>

  <label>Código:</label>
  <input type="text" th:field="*{codigo}" placeholder="Código da Disciplina" required />
  <div class="info">Código deve ter 6 caracteres</div>
  <div th:if="${erro}" class="error">
    <p th:text="${erro}"></p>
  </div>
  <br/>

  <label>Período:</label>
  <input type="text" th:field="*{periodo}" placeholder="Período da Disciplina" required />
  <br/>

  <button type="submit">Salvar</button>
</form>

<a th:href="@{/disciplinas/ativas}">Voltar à Lista</a>
</body>
</html>
