<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sala.id == null} ? 'Criar Nova Sala' : 'Editar Sala'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1 th:text="${sala.id == null} ? 'Criar Nova Sala' : 'Editar Sala'"></h1>

<form th:action="@{/salas/salvar}" th:object="${sala}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" placeholder="Nome da Sala" required />
    <br/>

    <label>Local:</label>
    <input type="text" th:field="*{local}" placeholder="Local da Sala" required />
    <br/>

    <label>Capacidade:</label>
    <input type="number" th:field="*{capacidade}" placeholder="Capacidade da Sala" required />
    <br/>

    <button type="submit">Salvar</button>
</form>

<a th:href="@{/salas/ativas}">Voltar à Lista</a>
</body>
</html>
