<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Salas Ativas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Lista de Salas Ativas</h1>

    <div class="flex-container">
        <a th:href="@{/salas/nova}" class="button">Criar Nova Sala</a>
        <a th:href="@{/salas/inativas}" class="button button-secondary">Visualizar Salas Inativas</a>
        <a th:href="@{ / }" class="button">Voltar ao Menu</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Capacidade</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sala : ${salasAtivas}">
            <td th:text="${sala.id}">1</td>
            <td th:text="${sala.nome}">Nome da Sala</td>
            <td th:text="${sala.capacidade}">Capacidade</td>
            <td>
                <a th:href="@{/salas/editar/{id}(id=${sala.id})}" class="button">Editar</a>
                <a th:href="@{/salas/desativar/{id}(id=${sala.id})}" class="button button-danger"
                   onclick="return confirm('Tem certeza que deseja desativar esta sala?');">Desativar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
