<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Salas Inativas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Lista de Salas Inativas</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Local</th>
            <th>Capacidade</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sala : ${salasInativas}">
            <td th:text="${sala.id}">1</td>
            <td th:text="${sala.nome}">Nome da Sala</td>
            <td th:text="${sala.local}">Local</td>
            <td th:text="${sala.capacidade}">Capacidade</td>
            <td>
                <a th:href="@{/salas/reativar/{id}(id=${sala.id})}" class="button">Reativar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="flex-container">
        <a th:href="@{/salas/ativas}" class="button">Voltar à Lista de Salas Ativas</a>
    </div>
</div>
</body>
</html>
