<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Criar Novo Aluno</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Criar Novo Aluno</h1>

<form th:action="@{/alunos/salvar}" th:object="${aluno}" method="post">
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" placeholder="Nome do Aluno" required />
    <br/>

    <label>CPF:</label>
    <input type="text" th:field="*{cpf}" placeholder="CPF do Aluno" required />
    <div class="info">O CPF deve ser único</div>
    <div th:if="${erro}" class="error">
        <p th:text="${erro}"></p>
    </div>
    <br/>

    <label>Matrícula:</label>
    <input type="text" th:field="*{matricula}" placeholder="Matrícula do Aluno" required />
    <br/>

    <label>Turma:</label>
    <select th:field="*{turma.id}" required>
        <option th:each="turma : ${turmas}" th:value="${turma.id}" th:text="${turma.nome}"></option>
    </select>
    <br/>

    <button type="submit">Salvar</button>
</form>
<a th:href="@{/alunos/ativos}">Voltar à Lista</a>
</body>
</html>
