<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Criar Nova Turma</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Criar Nova Turma</h1>

<form th:action="@{/turmas/salvar}" th:object="${turma}" method="post">
    <label>Disciplina:</label>
    <select th:field="*{disciplina.id}">
        <option th:each="disciplina : ${disciplinas}" th:value="${disciplina.id}" th:text="${disciplina.nome}"></option>
    </select>
    <br/>

    <label>Professor:</label>
    <select th:field="*{professor.id}">
        <option th:each="professor : ${professores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
    </select>
    <br/>

    <label>Sala:</label>
    <select th:field="*{sala.id}">
        <option th:each="sala : ${salas}" th:value="${sala.id}" th:text="${sala.nome}"></option>
    </select>
    <br/>

    <label>Período:</label>
    <input type="text" th:field="*{periodo}" placeholder="Período" required />
    <br/>

    <button type="submit">Salvar</button>
</form>
<a th:href="@{/turmas/ativas}">Voltar à Lista</a>
</body>
</html>
