<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Criar Novo Professor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Criar Novo Professor</h1>

<form th:action="@{/professores/salvar}" th:object="${professor}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" th:field="*{nome}" id="nome" placeholder="Nome do Professor" required />
    <br/>

    <label for="cpf">CPF:</label>
    <input type="text" th:field="*{cpf}" id="cpf" placeholder="000.000.000-00" required />
    <div th:if="${erro}" class="error">
        <p th:text="${erro}"></p>
    </div>
    <br/>

    <label for="tituloAcademico">Título Acadêmico:</label>
    <input type="text" th:field="*{tituloAcademico}" id="tituloAcademico" placeholder="Título Acadêmico" required />
    <br/>

    <button type="submit">Salvar</button>
</form>
<a th:href="@{/professores/ativos}">Voltar à Lista</a>
</body>
</html>
