<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${professor.id == null} ? 'Criar Novo Professor' : 'Editar Professor'"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1 th:text="${professor.id == null} ? 'Criar Novo Professor' : 'Editar Professor'"></h1>

<form th:action="@{/professores/salvar}" th:object="${professor}" method="post">
  <input type="hidden" th:field="*{id}" />

  <label for="nome">Nome:</label>
  <input type="text" th:field="*{nome}" id="nome" placeholder="Nome do Professor" required />
  <div th:if="${#fields.hasErrors('nome')}" class="error">
    <p th:errors="*{nome}">Erro no Nome</p>
  </div>
  <br/>

  <label for="cpf">CPF:</label>
  <input type="text" th:field="*{cpf}" id="cpf" placeholder="000.000.000-00" required />
  <div th:if="${#fields.hasErrors('cpf')}" class="error">
    <p th:errors="*{cpf}">Erro no CPF</p>
  </div>
  <br/>

  <label for="tituloAcademico">Título Acadêmico:</label>
  <input type="text" th:field="*{tituloAcademico}" id="tituloAcademico" placeholder="Título Acadêmico" required />
  <div th:if="${#fields.hasErrors('tituloAcademico')}" class="error">
    <p th:errors="*{tituloAcademico}">Erro no Título Acadêmico</p>
  </div>
  <br/>

  <button type="submit">Salvar</button>
</form>

<a th:href="@{/professores/ativos}">Voltar à Lista</a>
</body>
</html>
