<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Menu Principal</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="menu-container">
  <div class="menu">
    <h1>Menu Principal</h1>
    <a th:href="@{/disciplinas/ativas}">Gerenciar Disciplinas</a>
    <a th:href="@{/professores/ativos}">Gerenciar Professores</a>
    <a th:href="@{/salas/ativas}">Gerenciar Salas</a>
    <a th:href="@{/turmas/ativas}">Gerenciar Turmas</a>
  </div>
</div>
</body>
</html>
